/*배민 도현체*/
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*배민 을지로 10년후체*/
@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "BMEULJIRO";
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
}

#login-form {
  margin-bottom: 50px;
}

#login-form input {
  border: none;
  padding: 2rem;
  width: 40rem;
  text-align: center;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
}

/* Greeting */
#greeting {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
}
#setting i {
  cursor: pointer;
  font-size: 3rem;
}

/* Clock */

#clock {
  font-size: 8rem;
  margin-bottom: 5rem;
}

/* Todo List */

#todo-form > input {
  border: none;
  padding: 2rem;
  width: 40rem;
  text-align: center;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list li {
  font-size: 4rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

#todo-list li button {
  -webkit-box-shadow: 0px 0px 37px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px -8px rgba(0, 0, 0, 0.75);
  border: none;
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/* Quote */

#quote {
  font-size: 2rem;
  margin-top: 2rem;
}

/* Wheather*/

#weather {
  margin-top: 1rem;
  font-size: 3rem;
}
